<tr id=<%= "channel_#{channel.id}" %>>
    <td><%= channel.identifier %></td>
    <td><%= channel.published_after.to_fs(:rfc822) if channel.published_after %></td>
    <td><%= channel.published_before.to_fs(:rfc822) if channel.published_before %></td>
    <td><%= Time.at(channel.minimum_duration).utc.strftime("%H:%M:%S") if channel.minimum_duration %></td>
    <td><%= Time.at(channel.maximum_duration).utc.strftime("%H:%M:%S") if channel.maximum_duration %></td>
    <td><%= channel.videos %></td>
    <td><%= channel.keywords %></td>
    <td><%= channel.non_keywords %></td>
    <td><%= link_to 'Edit', edit_channel_path(channel), data: { turbo_frame: "channel_form" } %></td>
    <td><%= link_to 'Delete', channel_path(channel), method: :delete, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, :id => "delete_#{channel.id}" %></td>
</tr>
